.empty-jobs {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    border: 2px dashed #ddd;
}

.empty-jobs .empty-message {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
    color: #9B9B9B;
    font-weight: normal;
}

.jobs-list {

}

.jobs-list .job {

}

.jobs-list .job .panel-heading {
    background-color: #fff;
}

.jobs-list .job .job-stages {
    overflow: auto;
    clear: both;
}

.jobs-list .job .job-stages .stage {
    display: block;
    border-right: 1px solid #ddd;
    padding: 5px 0;
    text-align: center;
    float: left;
}

.jobs-list .job .job-stages .stage .stage-number {
    display: block;
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.jobs-list .job .job-stages .stage .stage-label {
    display: block;
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.stage-applied:hover {
    background-color: #c2c2c2;
}

.stage-applied:hover .stage-number, .stage-applied:hover .stage-label {
    color: #fff !important;
}

.stage-interview:hover {
    background-color: #1a7bb9;
}

.stage-interview:hover .stage-number, .stage-interview:hover .stage-label {
    color: #fff !important;
}

.stage-phone:hover {
    background-color: #1a7bb9;
}

.stage-phone:hover .stage-number, .stage-phone:hover .stage-label {
    color: #fff !important;
}

.stage-offer:hover {
    background-color: #21b9bb;
}

.stage-offer:hover .stage-number, .stage-offer:hover .stage-label {
    color: #fff !important;
}

.stage-hired:hover {
    background-color: rgb(26, 179, 148);
}

.stage-hired:hover .stage-number, .stage-hired:hover .stage-label {
    color: #fff !important;
}

.jobs-list .job .job-title {
    margin: 0;
    padding: 0;
}

.jobs-list .job .job-title a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.jobs-list .job .job-footer {
    padding: 5px 15px;
}

.jobs-list .job .job-posted-timeago {
    font-size: 12px;
    color: #828282;
}

#job-details-header {
    margin-bottom: 10px;
}

#job-details-content {
    height: calc(100% - 190px) !important;
}

#job-candidates .list-group-item.active, #job-candidates .list-group-item:hover {
    background-color: #fff !important;
    -moz-box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
    -webkit-box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
    box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
}

#job-details-nav {
    margin: 0;
    padding: 0;
    min-height: 40px;
}

#job-details-nav .navbar-nav {
    width: 100%;
    clear: both;
    overflow: auto;
}

#job-details-nav .navbar-nav > li {
    padding: 0;
    float: left;
}

#job-details-nav .navbar-nav > li > a {
    padding: 10px;
    border-left: 1px solid #e7eaec !important;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#job-details-nav .navbar-nav > li:last-child > a {
    border-right: 1px solid #e7eaec !important;
}

#job-details-nav .nav > li.active {
    border: none;
}

#job-details-nav .nav > li.active a, #job-details-nav .nav > li > a:hover {
    border: none;
    background-color: #fff;
    color: #666;
    -moz-box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
    -webkit-box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
    box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
}

.job-application-actions {
    background-color: #fff;
    padding: 10px 50px;
    border-bottom: 1px solid #E0E0E0;
}

.job-application-profile {
    margin-bottom: 50px;
}

.job-candidate-pic {
    float: left;
    margin: -25px 10px 0 30px;
}

.job-candidate-info {
    float: left;
}

.job-candidate-info h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 400;
}

.job-candidate-info h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 200;
}

.job-candidate-info a {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(103, 106, 108);
}

.job-candidate-info a img {
    width: 16px;
    vertical-align: middle;
}

.job-application-profile {

}

#job-info {
    background-color: #fff;
    padding: 5px 20px !important;
}

.list-group-item.loading {
    min-height: 100px;
    background: #fff;
}

.list-group-item.loading:hover {
    background: #fff;
}

.empty-applications {
    width: 90%;
    margin: 30px auto;
    text-align: center;
    border: 2px dashed #aaa;
    color: #aaa;
    padding: 15% 0;
}

.empty-applications .fa {
    font-size: 45px;
}

.job-application-timeline .timeline-item {
    border-bottom: 1px solid #e7eaec !important;
}

.timeline-item:last-child {
    border-bottom: none !important;
}

.job-application-timeline .timeline-item .content {
    min-height: 55px !important;

}

.job-application-timeline .timeline-item .date {
    top: 5px !important;
}

.cover-letter {
    margin: 15px auto;
    width: 90%;
}

.cover-letter p {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    line-height: 28px;
    text-align: justify;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
    font-size: 14px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.cover-letter .more {
    height: auto;
    overflow: auto;
}

.cover-letter .more-coverletter {

}

.application-timeline-content > p {
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

.application-timeline-content > p.more {
    height: auto;
    overflow: auto;
}

.note-editor {
    border: none;
}

.note-editor .note-toolbar {
    border-bottom: none;
}

.note-editor .note-editable {
    min-height: 240px;
}

.mc-logo {
    display: inline-block !important;
    background: url("http://images.vietnamworks.com/img/matchingscore-s.png") no-repeat top right;
    width: 115px;
    height: 12px;
    margin-top: 5px;
}

.mc-score div {
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    text-align: right;
    display: block !important;
}

.comment-candidate {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}


.resume-viewer {
    width: 90%;
    margin: 0 auto;
}

.resume-viewer.fullscreen {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

.resume-viewer.fullscreen iframe {
    width: 900px !important;
    max-width: 90% !important;
    min-width: 800px !important;
    height: 100% !important;
}

.resume-viewer-normal-mode {
    display: none;
}

.resume-viewer.fullscreen .resume-viewer-normal-mode {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 5px;
}

.add-candidate-box {
    right: 0 !important;
    left: inherit !important;
    width: 300px !important;
    padding: 15px 0px 20px 0px !important;
}

.add-candidate-box legend {
    padding-top: 5px;
    font-weight: lighter;
}
