.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  outline: none;
}

#job-details-switch {
  background: #fff;
  border: none;
}

#job-details-switch:active {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#job-content {
  margin: 15px -15px;
  overflow: auto;
  clear: both;
}

#job-candidate-profile {
  width: 73%;
  height: auto;
  min-height: 600px;
  float: right;
  background: #fff;
}

#job-candidate-profile .affix-actions {
  top: 0;
  z-index: 9999;
}

#job-candidate-profile .profile-actions {
  position: relative;
}

#job-candidate-profile .affix-top .profile-action-title {
  display: none;
}

#job-candidate-profile .affix-top .profile-action-picture {
  display: inline-block;
}

#job-candidate-profile .affix .profile-action-title {
  display: inline-block;
}

#job-candidate-profile .affix .profile-action-picture {
  display: none;
}

#job-candidate-profile .profile-action-title {
  font-size: 22px;
  margin: 0;
  padding: 5px 0;
}

#job-candidate-profile .profile-action-picture {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#job-candidate-profile .job-candidate-actions {
  padding: 5px 0;
  clear: both;
}

#job-candidate-short-info {
  margin-top: 10px;
  padding: 15px;
  overflow: auto;
  clear: both;

}

#job-candidate-short-info table tr td {
  border: none;
}

#job-candidate-content {
  padding: 15px;
}

#job-candidate-content .nav.nav-tabs {
  border-bottom: none;
}

#job-candidate-content .nav.nav-tabs li a {
  border-radius: 0 !important;
  margin: 0;
  text-align: center;
  outline: none;
}

.content-list {
  margin: 0;
  padding: 0;
}

.content-list .list-item {
  list-style: none;
  border-bottom: none;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  text-align: left;
}

.content-list .list-item .list-item-icon {
  display: block;
  float: left;
  width: 16px;
  text-align: center;
  font-size: 14px;
}

.content-list .list-item .list-item-text {
  display: block;
  margin-left: 26px;
  text-transform: none;
  padding-right: 15px;
}

.content-list .list-item .list-item-info {
  font-size: 11.4px;
  font-style: italic;
  color: #939ba2;
  text-transform: capitalize;
  display: block;
}

#job-candidate-resume .ibox-content {
  border: none !important;
}

.score-icon {
  margin: 0 5px;

  &i {
    font-size: 25px;
  }

  &.score-strong-yes {
    color: #00B2AA;
  }

  &.score-yes {
    color: #77D5D1;
  }

  &.score-neutral {
    color: #F6E076;
  }

  &.score-no {
    color: #EE8F9E;
  }

  &.score-definitely-not {
    color: #DC3F59;
  }
}

.fa.fa-sort-desc.pull-right {
  line-height: 20px;
}

.fa.fa-sort-asc.pull-right {
  line-height: 30px;
}

.dropdown-check {
  color: #21B597;
  margin-left: -12px;
  margin: 0 5px 0 -17px;
}

.job-application {
  &:hover, &.active {
    box-shadow: inset 0px 0px 30px #E4E4E4;
    -moz-box-shadow: inset 0px 0px 30px #E4E4E4;
    -webkit-box-shadow: inset 0px 0px 30px #E4E4E4;
    cursor: pointer;
  }
}

#job-candidates-container {
  background: #fff;
  float: left;
  width: 26%;
  margin-left: 10px;

  .nav.nav-tabs li a {
    border-radius: 0 !important;
    margin: 0;
    text-align: center;
    outline: none;
    padding: 12px 20px 12px 25px !important;
  }
}

.job-hiring-process {
  background: #fff;

  .stage {
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #ddd;

    &:hover, &.active {
      background-color: #fff;
      color: #666;
      box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
    }

    .link {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .title {
      color: #777;
      font-weight: 400;
      font-size: 15px;
    }

    .count {
      padding: 0 2px;
      color: #777;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.job-candidate-profile {
  width: 71%;
  height: auto;
  min-height: 600px;
  float: right;
  margin-right: 10px;
  position: relative;

  .no-application {
    border: 2px dashed #ccc;
    text-align: center;
    height: 425px;
    width: 99%;
    padding: 50px 20px;

    .fa {
      font-size: 60px;
      color: #9b9b9b;
    }
  }

  .content {
    background: #fff;
  }
}

.job-candidate-actions {
  top: 0;
  z-index: 9999;
}

.job-candidate-actions {
  &.affix {
    .profile-action-title {
      display: block;
      margin: 5px 0;
      height: 26px;
      overflow: hidden;
    }
  }

  &.affix-top {
    .profile-action-title {
      display: none;
    }
  }
}

#job-candidates-container {
  .nav-tabs {
    li:nth-child(1) {
      width: 40% !important;
    }

    li:nth-child(2) {
      width: 60% !important;
    }
  }
}

.no-content {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding: 128px 0;
}

.score-icon {
  margin: 0 5px;

  i {
    font-size: 25px;
  }

  &.score-strong-yes {
    color: #00B2AA;
  }

  &.score-yes {
    color: #77D5D1;
  }

  &.score-neutral {
    color: #F6E076;
  }

  &.score-no {
    color: #EE8F9E;
  }

  &.score-definitely-not {
    color: #DC3F59;
  }
}

.list-item-text {
  p {
    text-align: justify;
  }
}

.activity-info {
  .fa {
    font-size: 20px;
    padding: 5px;
  }

  .msg {
    font-weight: 500;
    display: inline-block;
  }
}

.interviewers-list {
  margin: 10px 0;
}

.interviewers-list li {
  margin: 5px 0;
}

.stage {
  width: 20%;
  @media (max-width: 768px) {
    width: 100%/3;
    border-bottom: 1px solid #ddd;
  }

  @media (max-width: 480px) {
    width: 100%/2;
    border-bottom: 1px solid #ddd;
  }
}

.jobs-lists {
  padding: 20px 0 60px 0;
  overflow: auto;
  clear: both;
}

.job {
  background: #fff;
  margin-bottom: 20px;

  .panel-heading {
    background-color: #fff;
  }

  .job-stages {
    overflow: auto;
    clear: both;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .row {
      margin: 0 !important;
    }

    .stage {
      display: block;
      border-right: 1px solid #ddd;
      padding: 5px 0;
      text-align: center;
      float: left;

      .stage-number {
        display: block;
        text-decoration: none;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
        color: #666;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
      }

      .stage-label {
        display: block;
        text-decoration: none;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
        color: #888;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
      }

      &.stage-applied {
        &:hover {
          background-color: #c2c2c2;

          .stage-number, .stage-label {
            color: #fff !important;
          }
        }
      }

      &.stage-interview {
        &:hover {
          background-color: #1a7bb9;

          .stage-number, .stage-label {
            color: #fff !important;
          }
        }
      }

      &.stage-phone {
        &:hover {
          background-color: #1a7bb9;

          .stage-number, .stage-label {
            color: #fff !important;
          }
        }
      }

      &.stage-offer {
        &:hover {
          background-color: #21b9bb;

          .stage-number, .stage-label {
            color: #fff !important;
          }
        }
      }

      &.stage-hired {
        border: none;

        &:hover {
          background-color: rgb(26, 179, 148);

          .stage-number, .stage-label {
            color: #fff !important;
          }
        }
      }
    }
  }

  .faq-item {
    padding: 10px 20px;
  }

  .info {
    line-height: 20px;
  }

}

.tag-list {
  padding: 5px 10px 7px 10px;
}

.tag-item {
  margin: 0 2px;
  background: #f3f3f4;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}

.avatar-box {
  margin-right: 5px;
}

.activity {
  &.update-stage {
    max-width: 400px;
    padding: 10px;
    border: 1px solid #eee;

    .icon {
      display: inline-block;
      width: 30%;
      text-align: center;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }

    .title {
      display: inline-block;
      width: 33%;
      text-align: center;
    }
  }

  &.event {
    .hr-line-dashed {
      margin: 0;
    }

    .form-group {
      margin: 0;
    }
  }
}

.last-application {
  .name {
    font-size: 12px;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}