#job-candidates-container {
	background: #fff;
	float: left;
	width: 26%;
	margin-left: 10px;

	.nav.nav-tabs li a {
		border-radius: 0 !important;
		margin: 0;
		text-align: center;
		outline: none;
	}
}

.job-hiring-process {
	background: #fff;

	.stage {
		line-height: 40px;
		text-align: center;
		border-right: 1px solid #ddd;

		&:hover, &.active {
			background-color: #fff;
			color: #666;
			box-shadow: inset 0px 0px 24px rgba(163, 161, 161, 0.4);
		}

		.link {
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		.title {
			color: #777;
			font-weight: 400;
			font-size: 15px;
		}

		.count {
			padding: 0 2px;
			color: #777;
			font-weight: 600;
			font-size: 16px;
		}
	}
}


.job-candidate-profile {
	width: 71%;
	height: auto;
	min-height: 600px;
	float: right;
	margin-right: 10px;
	position: relative;

	.no-application {
		border: 2px dashed #ccc;
		text-align: center;
		height: 400px;
		width: 99%;
		padding: 50px 20px;

		.fa {
			font-size: 60px;
			color: #9b9b9b;
		}
	}

	.content {
		background: #fff;
	}
}

.job-candidate-actions {
	top: 0;
	z-index: 9999;
}


.job-candidate-actions {
	&.affix  {
		.profile-action-title {
			display: block;
			margin: 5px 0;
		}
	}

	&.affix-top {
		.profile-action-title {
			display: none;
		}
	}
}

#job-candidates-container {
	.nav-tabs {
		li:nth-child(1) {
			width: 40% !important;
		}

		li:nth-child(2) {
			width: 60% !important;
		}
	}
}

.no-content {
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
	padding: 128px 0;
}


.score-icon {
	margin: 0 5px;

	i {
		font-size: 25px;
	}

	&.score-strong-yes{
		color: #00B2AA;
	}

	&.score-yes{
		color: #77D5D1;
	}

	&.score-neutral{
		color: #F6E076;
	}

	&.score-no{
		color: #EE8F9E;
	}

	&.score-definitely-not{
		color: #DC3F59;
	}
}

.list-item-text {
	p {
		text-align: justify;
	}
}