<template name="AddJob">

    {{> pageHeading title=pageTitle}}

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container post-job-tabs">
                    <div class="tabs-left">
                        <ul class="nav nav-tabs">

                            <li class="active">
                                <a class="job-details-tab" data-toggle="tab" href="#job-details" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-users"></i></span>
                                        <span class="hidden-xs hidden-sm">JOB DETAILS</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">Important for attracting the right job
                                        candidates, evaluating employees' performance, and more</p>
                                </a>
                            </li>


                            <li class="{{#unless _id}}disabled{{/unless}}">

                                <a class="criteria-tab" data-toggle="{{#if _id}}tab{{/if}}"
                                   href="#{{#if _id}}hiring-criteria{{/if}}" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-users"></i></span>
                                        <span class="hidden-xs hidden-sm">HIRING CRITERIA</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">
                                        Land your dream candidate is figuring out exactly who you're looking for
                                    </p>
                                </a>
                            </li>

                            <li class="{{#unless _id}}disabled{{/unless}}">

                                <a class="hiring-team-tab" data-toggle="{{#if _id}}tab{{/if}}"
                                   href="#{{#if _id}}hiring-team{{/if}}" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-users"></i></span>
                                        <span class="hidden-xs hidden-sm">HIRING TEAM</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">
                                        Manage the role and responsibilities for various recruiting tasks accross your
                                        team
                                    </p>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">

                            <div id="job-details" role="tabpanel" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="animated fadeInRight">
                                            <div class="content">
                                                {{#unless jobId}}
                                                    {{> quickForm schema="Schemas.addJobForm" type="method" meteormethod="addJob" id="addJob" }}
                                                {{else}}
                                                    {{#unless vnwData}}
                                                        {{> quickForm schema="Schemas.addJobForm" type="method-update" meteormethod="updateJobs" id="updateJobs" doc=this }}
                                                    {{else}}
                                                        {{>jobDetailSettings this}}
                                                    {{/unless}}
                                                {{/unless}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="hiring-criteria" role="tabpanel" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="animated fadeInRight">
                                            <div class="content">
                                                {{#if _id}}
                                                    {{> hiringCriteria jobId=_id criteriaId= criteriaId}}
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="hiring-team" role="tabpanel" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="animated fadeInRight">
                                            {{> teamSettings _id }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

