<template name="jobDetailSettings">
    <form>
        <div class="form-group">

            <label class="control-label">Job Title</label>

            <p class="form-control-static">{{title}} </p>

        </div>


        <!--<div class="form-group">

            <label class="control-label">Level</label>

            <p class="form-control-static">{{level}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Categories</label>

            <p class="form-control-static">{{categories}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Locations</label>

            <p class="form-control-static">{{locations}} </p>
        </div>-->


        <div class="form-group">
            <label class="control-label">Salary min</label>

            <p class="form-control-static">{{salaryMin}} </p>
        </div>


        <div class="form-group">
            <label class="control-label">Salary max</label>

            <p class="form-control-static">{{salaryMax}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Description</label>

            <p class="form-control-static">{{{formatParagraph description}}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Requirements</label>

            <p class="form-control-static">{{{formatParagraph requirements}}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Benefits</label>

            <p class="form-control-static">{{{formatParagraph benefits}}} </p>
        </div>


        <div class="form-group">

            <label class="control-label">Locations</label>

            <p class="form-control-static">
                {{#each locations}}
                    <small class="label label-info">{{this}}</small>
                {{/each}}
            </p>

        </div>

        <div class="form-group">

            <label class="control-label">Tags</label>

            <p class="form-control-static">
                {{#each skills}}
                    <small class="label label-info">{{this}}</small>
                {{/each}}
            </p>

        </div>


    </form>
</template>