<template name="jobTagsInput">
    <div class="job-tag-input clear">
        <div class="tags pull-left">

            {{#each tags}}
                {{> jobTagItem value=this jobId=jobId}}
            {{/each}}
        </div>
        {{> inputAutocomplete settings=settings jobId=jobId class="tag-input" id="job-tag-input-{{jobId}}" placeholder=hint}}
    </div>
</template>

<template name="jobTagItem">
    <span class="tag label label-default">{{this.value}} <span class='tag-close'>&nbsp;&nbsp;&times;&nbsp;</span></span>
</template>