<template name="Dashboard">
    <div class="wrapper wrapper-content" style="padding-bottom: 60px;">
        {{> Jobs
            status="1"
            title="PUBLISHED POSITIONS"
            icon="fa-cloud"
            emptyMessage="There is no position here."}}

        {{> Jobs
            status="0"
            title="CLOSED POSITIONS"
            icon="fa-archive"
            emptyMessage="Positions that no longer accepting new applicants will appear here."}}
    </div>
</template>

<template name="Jobs">

        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-12">
                <h3><i class="fa {{this.icon}}"></i>&nbsp;{{this.title}} ({{total}})</h3>

                <div class="jobs-list">
                    {{#if isLoading.get}}
                        {{> waveLoading}}
                    {{else}}
                        {{#if items.count}}
                            {{#each items}}
                                {{> jobItem}}
                            {{/each}}
                        {{else}}
                            {{> emptyJobs message=this.emptyMessage}}
                        {{/if}}
                    {{/if}}
                </div>
                {{#unless isLoading.get}}
                    {{#if isLoadingMore.get}}
                        {{> spinLoading}}
                    {{else}}
                        {{#if loadMoreAbility}}
                            <button class="btn btn-small btn-block" data-load-more="true">Load more</button>
                        {{/if}}
                    {{/if}}
                {{/unless}}
            </div>
        </div>
</template>

<template name="emptyJobs">
    <div class="empty-jobs">
        <h3 class="empty-message">{{this.message}}</h3>
    </div>
</template>


<template name="jobItem">
    <div class="job">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title clearfix">
                    <h3 class="pull-left job-title"><a href="{{pathFor 'jobDetails' stage='applied'}}">{{ title }}</a></h3>
                    <span class="pull-right job-posted-timeago">Job posted {{ createdTimeago }}</span>
                </div>
            </div>
            <div class="job-stages">
                <div class="row">
                    <div class="stage stage-applied">
                        <a href="{{pathFor 'jobDetails' stage='applied'}}" class="stage-number">{{ appliedCount }}</a>
                        <a href="{{pathFor 'jobDetails' stage='applied'}}" class="stage-label">Applied</a>
                    </div>

                    <div class="stage stage-phone">
                        <a href="{{pathFor 'jobDetails' stage='phone'}}" class="stage-number">{{ phoneScreenCount }}</a>
                        <a href="{{pathFor 'jobDetails' stage='phone'}}" class="stage-label">Phone Screen</a>
                    </div>

                    <div class="stage stage-interview">
                        <a href="{{pathFor 'jobDetails' stage='interview'}}" class="stage-number">{{ interviewCount }}</a>
                        <a href="{{pathFor 'jobDetails' stage='interview'}}" class="stage-label">Interview</a>
                    </div>

                    <div class="stage stage-offer">
                        <a href="{{pathFor 'jobDetails' stage='offer'}}" class="stage-number">{{ offerCount }}</a>
                        <a href="{{pathFor 'jobDetails' stage='offer'}}" class="stage-label">Offer</a>
                    </div>

                    <div class="stage stage-hired">
                        <a href="{{pathFor 'jobDetails' stage='hired'}}" class="stage-number">{{ hiredCount }}</a>
                        <a href="{{pathFor 'jobDetails' stage='hired'}}" class="stage-label">Hired</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
