<template name="jobTrackingBoard">
    <!-- Page heading -->
    {{> pageHeading title='Applicants Tracking' category='Job' }}

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>People Applied</h3>
                        <ul class="sortable-list connectList agile-list">
                            {{#each appliedCan}}
                                {{> Application}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Test Assignment</h3>
                        <ul class="sortable-list connectList agile-list">
                            {{#each testAssignCan}}
                                {{> Application}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>Ask for Interview</h3>
                            <ul class="sortable-list connectList agile-list">
                                {{#each interviewCan}}
                                    {{> Application}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>Rejected</h3>
                            <ul class="sortable-list connectList agile-list">
                                {{#each rejectedCan}}
                                    {{> Application}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Offer Letter</h3>
                        <ul class="sortable-list connectList agile-list">
                            {{#each offerCan}}
                                {{> Application}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


        </div>


    </div>
</template>

<template name="Application">
    <li class="{{ stateLabel }}">
        {{ candidate.fullname }}
        <div class="agile-detail">
            Matching score: {{matchingScore}}
        </div>
    </li>
</template>
