<template name="companyInfo">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Company
                        <small>information</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    {{> companyInfoForm }}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="companyInfoForm">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <img src="{{ logo }}" alt="{{ companyName }}" title="{{ companyName }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company name</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ companyName }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company address</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{companyAddress}}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company phone</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ phone }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company cell phone</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ cell }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company fax</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ fax }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company contact name</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ contactName }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Company email</label>
            <label class="col-sm-10 control-label"><span class="pull-left">{{ contactEmail }}</span></label>
        </div>
        <div class="hr-line-dashed"></div>
        <form>
            <div class="form-group">
                <label class="col-sm-2 control-label text-muted">Get jobs in</label>

                <div class="col-sm-2">
                    <select id="select-nom" class=" col-sm-4 form-control  pull-left">
                        {{#each options}}
                            <option value="{{value}}">
                                {{label}}
                            </option>
                        {{/each}}
                    </select>
                    <label class="control-label" style="font-weight: normal;">Default : {{defaultMonth}}</label>
                </div>
                <div class=" col-sm-3 nomonth-action">
                    <button class="nomonth confirm btn btn-white" type="submit">
                        <span class="fa fa-check text-info"></span>
                    </button>
                    <button class="nomonth cancel btn btn-white" type="button">
                        <span class="fa fa-ban text-danger"></span>
                    </button>
                </div>

            </div>
        </form>
        <div class="hr-line-dashed"></div>
    </div>
</template>