<template name="hiringTeam">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Hiring Team </h5>

        </div>
        <div class="ibox-content">
            {{> tabular table=TabularTables.HiringTeam class="table table-striped table-bordered table-condensed"}}

            <div class="hr-line-dashed"></div>
            <div class="row">
                {{> sendRequest}}
            </div>
        </div>
    </div>
</template>

<template name="hiringTeamActionsCell">
    <a href="#" class="btn btn-danger btn-xs remove btn-outline remove"><i class="fa fa-trash text-danger"></i></a>
</template>

<template name="sendRequest">
    <form id="send-request" class="form-group">
        <label class="col-sm-2 control-label">Invite new member</label>

        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" name="request-email" placeholder="Enter email address..." class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Send invite</button>
                </span>
            </div>
        </div>
    </form>
</template>