<template name="jobDetails">
    <!-- Page heading -->
    {{> JobDetailsHeader}}

    <div class="fh-breadcrumb" id="job-details-content">

        <div class="fh-column">
            <div class="full-height-scroll">
                <!--BEGIN: JobApplications-->
                {{> JobApplications}}
                <!--END: JobApplications-->
            </div>
        </div>

        <div class="full-height">
            <div class="full-height-scroll white-bg border-left">
                <!--BEGIN: JobApplicationProfile-->
                {{> JobApplicationProfile}}
                <!--END: JobApplicationProfile-->
            </div>
        </div>
    </div>
</template>

<template name="JobDetailsHeader">
    <!--BEGIN: JobInfo-->
    {{> JobInfo}}
    <!--END: JobInfo-->

    <div class="row wrapper border-bottom white-bg" id="job-details-header">
        <div class="col-lg-12">
            <!--BEGIN: HiringProcess-->
            {{> HiringProcess}}
            <!--END: HiringProcess-->
        </div>
    </div>
</template>






