<template name="JobApplicationTimeline">
    <div class="job-application-timeline" id="timeline">
        <div class="ibox-title">
            <h5>Timeline</h5>
        </div>
        <div class="ibox-content inspinia-timeline">
            {{#if isEmpty}}
                <h2>No activity yet</h2>
            {{else}}
                {{#if props.get "isShowMailForm"}}
                    {{> SendEmailCandidateForm}}
                {{/if}}
                {{#if props.get "isShowCommentForm"}}
                    {{> AddCommentCandidateForm}}
                {{/if}}

                {{#each items}}
                    {{> JobApplicationTimelineItem}}
                {{/each}}
                <div style="padding: 50px;">
                    {{#if props.get "isLoadingMore"}}
                        {{> spinLoading}}
                    {{else}}
                        {{#if loadMoreAbility}}
                            <button class="btn btn-block btn-outline btn-default loadmore">More timeline</button>
                        {{/if}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="JobApplicationTimelineItem">
    <div class="timeline-item border-bottom">
        <div class="row">
            <div class="col-xs-2 date" style="top:5px">
                <i class="fa {{icon}}"></i>
                {{ datetime }}
            </div>
            <div class="col-xs-10 content no-top-border">
                <p class="m-b-xs">{{{ title }}}</p>
                {{#with content}}
                    <p class="application-timeline-content">

                    <p>{{{ content }}}</p>
                    <a class="application-timeline-content-more">{{showMoreLabel.get}}</a>
                    </p>
                {{/with}}
                <small class="text-navy">{{ timeago }}</small>
            </div>
        </div>
    </div>
</template>

<template name="SendEmailCandidateForm">
<div id="email-container" class="timeline-item border-bottom">
    <div class="row">
        <div class="col-xs-2 date text-warning" style="top:5px">
            <i class="fa fa-envelope-o"></i>
        </div>
        <div class="col-xs-10 content no-top-border">
            <div class="mail-box">
                {{#autoForm schema="Schemas.sendEmailCandidateForm" id="sendEmailCandidateForm" type=type doc=this.doc class="form-horizontal"}}
                    <div class="mail-body">

                        <form class="form-horizontal" method="get">
                            <div class="form-group {{#if afFieldIsInvalid name='to'}} has-error{{/if}}">
                                <label class="col-sm-2 control-label">To:</label>

                                <div class="col-sm-10">
                                    {{> afFieldInput name='to'}}
                                    {{#if afFieldIsInvalid name='to'}}
                                        <span class="help-block">{{afFieldMessage name='to'}}</span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group {{#if afFieldIsInvalid name='template'}} has-error{{/if}}">
                                <label class="col-sm-2 control-label">Template:</label>

                                <div class="col-sm-10">
                                    {{> afFieldInput name='template'}}
                                    {{#if afFieldIsInvalid name='template'}}
                                        <span class="help-block">{{afFieldMessage name='template' options=templateOptions}}</span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group {{#if afFieldIsInvalid name='subject'}} has-error{{/if}}">
                                <label class="col-sm-2 control-label">Subject:</label>

                                <div class="col-sm-10">
                                    {{> afFieldInput name='subject'}}
                                    {{#if afFieldIsInvalid name='subject'}}
                                        <span class="help-block">{{afFieldMessage name='subject'}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="h-200">
                        {{> mailContentEditor }}
                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-body text-right tooltip-demo">
                        {{#if isLoading.get}}
                            <div class="pull-right" style="margin: 0 5px;">{{> spinLoading}}</div>
                        {{/if}}
                        <a class="btn btn-sm btn-primary mail-send-action" data-toggle="tooltip"
                           data-placement="top" title="Send"><i class="fa fa-reply"></i> Send</a>
                        <a class="btn btn-white btn-sm mail-cancel-action" data-toggle="tooltip"
                           data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                    </div>
                {{/autoForm}}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</template>

<template name="mailContentEditor">
    <textarea class="editor summernote mail-content"></textarea>
</template>

<template name="AddCommentCandidateForm">
    <div id="comment-container" class="timeline-item border-bottom">
        <div class="row">
            <div class="col-xs-2 date text-warning" style="top:5px">
                <i class="fa fa-comment"></i>
            </div>
            <div class="col-xs-10 content no-top-border">
                <div class="mail-box">
                    <form id="addCommentForm">
                        <div class="h-100">
                            <textarea rows="3" class="form-control comment-candidate"></textarea>
                            <div class="clearfix"></div>
                        </div>
                        <div class="mail-body text-right tooltip-demo">
                            {{#if isLoading.get}}
                                <div class="pull-right" style="margin: 0 5px;">{{> spinLoading}}</div>
                            {{/if}}
                            <a class="btn btn-sm btn-primary mail-send-action" data-toggle="tooltip"
                               data-placement="top" title="Save"><i class="fa fa-paper-plane"></i> Save</a>
                            <a class="btn btn-white btn-sm mail-cancel-action" data-toggle="tooltip"
                               data-placement="top" title="Discard"><i class="fa fa-times"></i> Discard</a>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</template>