<template name="JobInfo">
    <div class="row wrapper border-bottom" id="job-info">
        <div class="" style="clear: both">
            <div class="dropdown pull-left">
                <a id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true" style="font-size: 22px; color: #666">
                    <i class="fa fa-cloud" style="color: #1ab394"></i>&nbsp;{{job.title}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop3">
                    {{#each otherJobs}}
                        {{> JobInfoItem}}
                    {{/each}}
                </ul>
            </div>
            <div class="pull-left">
                <a href="{{pathFor 'jobSettings' jobId=job.jobId}}" class="btn btn-white btn-xs" style="margin: 5px 10px">
                    <i class="fa fa-cogs"></i> settings
                </a>
            </div>

            <div class="pull-right" style="padding-right: 30px;">
                {{> addCandidate}}
            </div>

        </div>
        <div style="clear: both;padding-bottom: 3px">
            {{> jobTagsInput jobId=job.jobId}}
        </div>
        {{#with job.recruiterEmails}}
            <div style="clear: both;padding-bottom: 3px">
                {{> jobRecruiterInput jobId=job.jobId}}
            </div>
        {{/with}}
    </div>
</template>

<template name="JobInfoItem">
    <li>
        <a href="{{pathFor 'jobDetails' stage='applied'}}" class="clearfix" style="font-size: 15px;">
            <span class="pull-left" style="margin-right: 15px">{{ title }}</span>
            <span class="label label-primary pull-right" style="margin-top: 5px">published</span>
        </a>
    </li>
</template>


<template name="addCandidate">
    <div class="btn-group" id="add-candidate-area">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-plus"></i>&nbsp;Add
            candidate
        </button>
        <div class="dropdown-menu add-candidate-box">

            <div class="col-sm-12">
                {{#autoForm schema="Schemas.CandidateSource" id="addCandidateForm"}}
                    <fieldset>
                        {{> afQuickField name="firstName"}}
                        {{> afQuickField name="lastName"}}
                        {{> afQuickField name="headline"}}
                        {{> afQuickField name="email"}}
                        {{> afQuickField name="phone"}}
                        {{> afQuickField name="source"}}
                        {{#if afFieldValueIs name="source" value="other"}}
                            {{> afQuickField name="otherSource"}}
                        {{/if}}
                        {{> afQuickField name="profileLink"}}
                        {{> afQuickField name="comment"}}
                        {{> afQuickField name="skills"}}
                        <button type="submit" class="btn btn-primary btn-block btn-block btn-sm"><i
                                class="fa fa-user-plus"></i>&nbsp;Add new candidate
                        </button>
                    </fieldset>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>