<template name="JobApplicationProfile">
    {{#if props.get "application"}}
        <div class="job-application-actions clearfix ">
            <div class="pull-right">
                {{> JobApplicationActions}}
            </div>
        </div>

        <div class="job-application-content">
            <div class="job-application-profile clearfix">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="clearfix">
                            <div class="job-candidate-pic">
                                <img src="http://placehold.it/80x80" class="img-thumbnail">
                            </div>
                            <div class="job-candidate-info">
                                <h2>{{fullname}}</h2>
                                {{#with jobTitle}}
                                    <h3>{{jobTitle}}</h3>
                                {{/with}}
                                <a href="{{ profileUrl }}" target="_blank"><img
                                        src="http://images.vietnamworks.com/img/thumbnail.png" alt=""/>&nbsp;Candidate
                                    profile</a>
                                {{#if isDisqualified}}
                                    <span class="text-danger">Disqualified</span>
                                {{/if}}
                            </div>

                        </div>
                    </div>
                    {{#if matchingScore}}
                        <div class="col-sm-6" style="padding-top: 25px;">
                            <span class="mc-score block text-right small">
                                <div>{{ matchingScore }}%</div>
                                <span class="mc-logo"></span>
                            </span>
                        </div>
                    {{/if}}
                </div>

                <div class="row">
                    <!--COVER LETTER-->
                    <div class="cover-letter">
                        <p>{{{coverLetter}}}</p>

                        <div class="text-right">
                            <a class="more-coverletter">{{{ coverLetterToggle.get }}}</a>
                        </div>
                    </div>
                </div>

                {{#if isSentDirectly}}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="well text-center">
                                {{#if props.get "isViewResume"}}
                                    <button class="btn btn-info btn-sm resume-viewer-fullscreen-mode">
                                        <i class="fa fa-arrows-alt"></i>&nbsp;Full screen
                                    </button>

                                    <button class="btn btn-success btn-sm view-resume">
                                        <i class="fa fa-eye-slash"></i>&nbsp;Hide resume
                                    </button>
                                {{else}}
                                    <button class="btn btn-success btn-sm view-resume">
                                        <i class="fa fa-eye"></i>&nbsp;View resume
                                    </button>
                                {{/if}}
                                &nbsp;
                                <a href="{{ resumeFileUrl }}" class="btn btn-success btn-sm"><i class="fa fa-cloud-download"></i>&nbsp;Download
                                    resume
                                </a>
                            </div>
                        </div>
                    </div>

                    {{#if props.get "isViewResume"}}
                        <div class="row">
                            <div class="resume-viewer {{fullscreenClass}}">
                                <iframe src="https://docs.google.com/viewer?embedded=true&url={{ resumeFileUrl }}" style="width:100%;height:550px;border:none"></iframe>
                                <button class="btn btn-info btn-sm resume-viewer-normal-mode">Exit fullscreen</button>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

            <!-- BEGIN: Application timeline -->
            {{> JobApplicationTimeline}}
            <!-- END: Application timeline -->
        </div>
    {{else}}
        <div class="job-application-content-blank">

        </div>
    {{/if}}
</template>