<template name="JobApplicationTimeline">
    <div class="job-application-timeline">
        <div class="ibox-title">
            <h5>Timeline</h5>
        </div>
        <div class="ibox-content inspinia-timeline">
            {{#if isEmpty}}
                <h2>No activity yet</h2>
            {{else}}
                {{#each activities.get}}
                    {{> JobApplicationTimelineItem}}
                {{/each}}
                <div style="padding: 50px;">
                    {{#if loadMoreAbility.get}}
                        <button class="btn btn-block btn-outline btn-default loadmore">More timeline</button>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="JobApplicationTimelineItem">
    <div class="timeline-item border-bottom">
        <div class="row">
            <div class="col-xs-2 date" style="top:5px">
                <i class="fa {{icon}}"></i>
                {{ datetime }}
            </div>
            <div class="col-xs-10 content no-top-border">
                <p class="m-b-xs">{{{ title }}}</p>
                {{#with content}}
                <p>{{ content }}</p>
                {{/with}}
                <small class="text-navy">{{ timeago }}</small>
            </div>
        </div>
    </div>
</template>