<template name="jobDetails">
    <!-- Page heading -->
    {{> JobDetailsHeader}}

    <div class="fh-breadcrumb" id="job-details-content">
        {{#if isEmpty}}
            <div class="empty-applications">
                <span class="fa fa-inbox"></span>
                <h2>No applications received yet</h2>
            </div>
        {{else}}
            <div class="fh-column">
                <div class="full-height-scroll">
                    <!--BEGIN: JobApplications-->
                    {{> JobApplications}}
                    <!--END: JobApplications-->
                </div>
            </div>

            <div class="full-height">
                <div class="full-height-scroll white-bg border-left">
                    <!--BEGIN: JobApplicationProfile-->
                    {{> JobApplicationProfile}}
                    <!--END: JobApplicationProfile-->
                </div>
            </div>
        {{/if}}
    </div>
</template>

<template name="JobDetailsHeader">
    <!--BEGIN: JobInfo-->
    {{> JobInfo}}
    <!--END: JobInfo-->

    <div class="row wrapper border-bottom white-bg" id="job-details-header">
        <div class="col-lg-12">
            <!--BEGIN: HiringProcess-->
            {{> HiringProcess}}
            <!--END: HiringProcess-->
        </div>
    </div>
</template>






