<template name="JobApplicationActions">
    <button class="btn btn-sm btn-default btn-outline toggle-comment-form" data-toggle="tooltip" data-placement="bottom" title="Add comment"><i class="fa fa-comment"></i></button>
    &nbsp;
    {{#if candidate.email}}
        <button class="btn btn-sm btn-warning btn-outline toggle-email-candidate-form"  data-toggle="tooltip" data-placement="bottom" title="Send email to candidate"><i class="fa fa-envelope-o"></i></button>
    &nbsp;
    {{/if}}
    {{#if application.disqualified}}
        <button class="btn btn-sm btn-primary btn-outline revert-application" data-toggle="tooltip" data-placement="bottom" title="Revert qualify"><i class="fa fa-life-saver"></i></button>
    {{else}}
        <button class="btn btn-sm btn-danger btn-outline disqualify-application" data-toggle="tooltip" data-placement="bottom" title="Disqualify candidate"><i class="fa fa-thumbs-down"></i></button>
    {{/if}}

    &nbsp;
    <div class="btn-group">
        <button type="button" class="btn  btn-sm btn-primary" {{ nextStageAbility }} data-move-stage="{{nextStage.id}}"><i class="fa fa-arrow-right"></i>&nbsp;{{nextStage.label}}</button>
        <button id="stage-menu" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="stage-menu">
            {{#each stages}}
                {{{ this.html }}}
            {{/each}}
        </ul>
    </div>
</template>