<template name="JobApplications">
    {{#if isLoading.get}}
        {{> waveLoading}}
    {{else}}
        <ul class="list-group elements-list" id="job-candidates">
            {{#each items}}
                {{> JobApplication}}
            {{/each}}
        </ul>
        {{#if isLoadingMore.get}}
            {{> spinLoading}}
        {{else}}
            {{#if loadMoreAbility}}
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="padding-bottom: 20px;">
                        <button class="btn btn-block btn-primary btn-outline loadmore">Load more</button>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
</template>

<template name="JobApplication">
    {{#if isLoading.get}}
        <li class="list-group-item loading"></li>
    {{else}}
        <li class="list-group-item {{activeClass}}">
            <a href="{{ applicationUrl }}">
                <small class="pull-right text-muted"> {{ timeago }}</small>
                <strong>{{ candidate.fullname }}</strong>
                <div class="small m-t-xs">
                    {{#if shortCoverLetter}}
                        <p style="height: 32px;overflow: hidden;">{{ shortCoverLetter }}</p>
                    {{/if}}
                    <p class="m-b-none">
                        {{#if disqualified}}
                        <span class="label label-danger pull-right" style="margin-left:2px;"><i class="fa fa-thumbs-down"></i></span>
                        {{/if}}
                        <span class="label pull-right {{matchingScoreLabel}}"  data-toggle="tooltip" data-placement="bottom" title="MatchingScore {{matchingScore}}%">{{ matchingScore }}%</span>
                        <i class="fa fa-map-marker"></i>&nbsp;{{ candidate.city }}
                        {{#with candidate.skills}}
                            <div class="clearfix" style="margin:5px 0;">
                                {{#each candidate.skills}}
                                    <span class="label label-default">{{this}}</span>
                                {{/each}}
                            </div>
                        {{/with}}
                    </p>
                </div>
            </a>
        </li>
    {{/if}}
</template>