<template name="JobApplicationProfile">
    {{#if application}}
        <div class="job-application-actions clearfix ">
            <div class="pull-right">
                {{> JobApplicationActions}}
            </div>
        </div>

        <div class="job-application-content">
            <div class="job-application-profile clearfix">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="job-candidate-pic">
                                <img src="http://placehold.it/80x80" class="img-thumbnail">
                            </div>
                            <div class="job-candidate-info">
                                <h2>{{candidate.fullname}}</h2>

                                {{#if candidate.headline}}
                                    <h3>{{candidate.headline}}</h3>
                                {{/if}}

                                {{#if candidate.city }}
                                    <div>
                                        <i class="fa fa-map-marker"></i> &nbsp; {{ candidate.city }}
                                    </div>
                                {{/if}}

                                {{#if application.vnwProfileLink}}
                                    <a href="{{ application.vnwProfileLink }}" target="_blank"><img
                                            src="http://images.vietnamworks.com/img/thumbnail.png" alt=""/>&nbsp;Candidate
                                        profile</a>
                                {{/if}}

                                {{#with candidate.skills}}
                                    {{#each candidate.skills}}
                                        <span class="label label-default">{{ this }}</span>
                                    {{/each}}
                                {{/with}}

                                {{#if application.disqualified}}
                                    <span class="text-danger">Disqualified</span>
                                {{/if}}
                            </div>

                        </div>
                    </div>
                    {{#if application.matchingScore}}
                        <div class="col-sm-5" style="padding-top: 25px;">
                            <span class="mc-score block text-right small">
                                <div>{{ application.matchingScore }}%</div>
                                <span class="mc-logo"></span>
                            </span>
                        </div>
                    {{/if}}
                </div>

                {{#if application.coverLetter}}
                    <div class="row">
                        <!--COVER LETTER-->
                        <div class="cover-letter">
                            <p>{{{application.coverLetter}}}</p>

                            <div class="text-right">
                                <a class="more-coverletter">{{{ coverLetterToggle.get }}}</a>
                            </div>
                        </div>
                    </div>
                {{/if}}

                {{#if application.isSentDirectly}}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="well text-center">
                                {{#if props.get "isViewResume"}}
                                    <button class="btn btn-info btn-sm resume-viewer-fullscreen-mode">
                                        <i class="fa fa-arrows-alt"></i>&nbsp;Full screen
                                    </button>

                                    <button class="btn btn-success btn-sm view-resume">
                                        <i class="fa fa-eye-slash"></i>&nbsp;Hide resume
                                    </button>
                                {{else}}
                                    <button class="btn btn-success btn-sm view-resume">
                                        <i class="fa fa-eye"></i>&nbsp;View resume
                                    </button>
                                {{/if}}
                                &nbsp;
                                <a href="{{ application.resumeFileUrl }}" target="_blank"
                                   class="btn btn-success btn-sm"><i class="fa fa-cloud-download"></i>&nbsp;Download
                                    resume
                                </a>
                            </div>
                        </div>
                    </div>

                    {{#if props.get "isViewResume"}}
                        <div class="row">
                            <div class="resume-viewer {{fullscreenClass}}">
                                <iframe src="https://docs.google.com/viewer?embedded=true&url={{ application.resumeFileUrl }}"
                                        style="width:100%;height:550px;border:none"></iframe>
                                <button class="btn btn-info btn-sm resume-viewer-normal-mode">Exit fullscreen</button>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

                {{#unless application.isSentDirectly}}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="well text-center">
                                <button class="btn btn-success btn-sm view-resume">
                                    <i class="fa fa-eye"></i>&nbsp;View resume
                                </button>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    {{#if props.get "isViewResume"}}
                        <div id="resumeForm" class="form-horizontal" novalidate="novalidate">
                            <fieldset>
                                <div>
                                    {{> resumeGeneral resume}}
                                </div>
                            </fieldset>
                            <br/>

                            <div class="hr-line-dashed"></div>
                            {{#if resume.careerObjective}}
                                <fieldset>
                                    <div class="col-sm-10">
                                        {{> resumeCareerObject resume}}
                                    </div>
                                </fieldset>
                                <br/>

                                <div class="hr-line-dashed"></div>
                            {{/if}}
                            {{#if resume.education}}
                                <fieldset>
                                    <div class="col-sm-10">
                                        {{> resumeEducations resume}}
                                    </div>
                                </fieldset>
                                <br/>

                                <div class="hr-line-dashed"></div>
                            {{/if}}
                            {{#if resume.experience}}
                                <fieldset>
                                    <div class="col-sm-10">
                                        {{> resumeExperiences resume}}
                                    </div>
                                </fieldset>
                                <br/>

                                <div class="hr-line-dashed"></div>
                            {{/if}}
                            {{#if resume.reference}}
                                <fieldset>
                                    <div class="col-sm-10">
                                        {{> resumeReferences resume}}
                                    </div>
                                </fieldset>
                                <br/>
                            {{/if}}

                        </div>
                    {{/if}}
                {{/unless}}
            </div>

            <!-- BEGIN: Application timeline -->
            {{> JobApplicationTimeline}}
            <!-- END: Application timeline -->
        </div>
    {{else}}
        <div class="job-application-content-blank">

        </div>
    {{/if}}
</template>

<template name="resumeGeneral">
    <h2>General information</h2>

    <div class="form-group">
        <label class="col-lg-3 control-label">Highest Education</label>

        <div class="col-lg-9"><p class="form-control-static">{{getDegreeName highestDegreeId}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Total Years of Experience</label>

        <div class="col-lg-9"><p class="form-control-static">{{yearOfExperience}}</p></div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Most Recent Job</label>

        <div class="col-lg-9"><p class="form-control-static">{{mostRecentPosition}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Most Recent Company</label>

        <div class="col-lg-9"><p class="form-control-static">{{mostRecentEmployer}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Desire Job Title</label>

        <div class="col-lg-9"><p class="form-control-static">{{desireJobTitle}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Address</label>

        <div class="col-lg-9"><p class="form-control-static">{{address}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Email address</label>

        <div class="col-lg-9"><p class="form-control-static">{{emailAddress}}</p></div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Mobile phone</label>

        <div class="col-lg-9"><p class="form-control-static">{{cellphone}}</p></div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Expected Salary</label>
        {{#if suggestedSalary}}
            <div class="col-lg-9"><p class="form-control-static">${{suggestedSalary}}</p></div>
        {{else}}
            <div class="col-lg-9"><p class="form-control-static">Negotiable</p></div>
        {{/if}}
    </div>
</template>

<template name="resumeCareerObject">
    <h2>Career Objective</h2>

    <div class="form-group">
        <div class="col-lg-10"><p class="form-control-static">{{{careerObjective}}}</p></div>
    </div>
    <br/>
</template>

<template name="resumeEducations">
    <h2>Education & Qualifications</h2>


    {{#each education}}
        <h3>{{schoolName}}</h3>


        <div class="row-contents">
            <div class="form-group">
                <strong><i>{{major}}</i></strong>
                {{#if isString startDate}}
                    <small>({{formatDate startDate 1}} - {{formatDate endDate 1}})</small>
                {{/if}}
            </div>
            <div class="form-group">
                <strong>Education Achievements</strong>

                <div>
                    <p class="form-control-static">{{{description}}}</p></div>
            </div>
        </div>
        <br/>
    {{/each}}

</template>

<template name="resumeExperiences">
    <h2>Work Experience</h2>
    {{#each experience}}
        <h3>{{companyName}}</h3>


        <div class="row-contents">
            <div class="form-group">
                <strong><i>{{jobTitle}}</i></strong>
                <small>({{formatDate startDate 1}} - {{#if isCurrent}}
                    Current {{else}}  {{formatDate endDate 1}} {{/if}})
                </small>
            </div>
            <div class="form-group">
                <div>
                    <p class="form-control-static">
                        {{{description}}}
                    </p>
                </div>
            </div>
        </div>
        <br/>
    {{/each}}

</template>

<template name="resumeReferences">
    <h2>References</h2>

    {{#each reference}}
        <div class="row-contents">
            <h3>{{name}}</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Title</label>

                <div class="col-lg-9"><p class="form-control-static">{{title}}</p></div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Phone</label>

                <div class="col-lg-9"><p class="form-control-static">{{phone}}</p></div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Email address</label>

                <div class="col-lg-9"><p class="form-control-static">{{email}}</p></div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Description</label>

                <div class="col-lg-9"><p class="form-control-static">{{description}}</p></div>
            </div>
        </div>
        <br/>

    {{/each}}

</template>