<template name="AddPosition">
    {{> pageHeading title="Add new position"}}

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container post-job-tabs">
                    <div class="tabs-left">
                        <ul class="nav nav-tabs">

                            <li class="active">
                                <a data-toggle="tab" href="#hiring-team" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-info"></i></span>
                                        <span class="hidden-xs hidden-sm">JOB DETAILS</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">Important for attracting the right job candidates, evaluating employees' performance, and more</p>
                                </a>
                            </li>


                            <li class="">
                                <a data-toggle="tab" href="#criteria" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-filter"></i></span>
                                        <span class="hidden-xs hidden-sm">Hiring Criteria</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">Landing your dream candidate is figuring out exactly who you’re looking for</p>
                                </a>
                            </li>


                            <li class="">
                                <a data-toggle="tab" href="#team" aria-expanded="true">
                                    <h3>
                                        <span class="circle-wrapper"><i class="fa fa-fw fa-users"></i></span>
                                        <span class="hidden-xs hidden-sm">Hiring Team</span>
                                    </h3>

                                    <p class="hidden-xs hidden-sm text-muted">Managing the roles and responsibilities for various recruiting tasks across your team</p>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="hiring-team" role="tabpanel" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="animated fadeInRight">
                                            <div class="content">
                                                {{> quickForm schema="Schemas.addPositionForm" type="method" meteormethod="addPosition" id="addPosition" }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="criteria" role="tabpanel" class="tab-pane">
                                <img src="http://cdn2.hubspot.net/hub/372554/file-1632351823-png/Feature_Pages/interview_planning/Candidate_Scorecard.png?t=1444621009836" alt=""/>
                            </div>

                            <div id="team" role="tabpanel" class="tab-pane">
                                <img src="http://cdn2.hubspot.net/hub/372554/file-1642847136-png/Feature_Pages/Whos_Responsible_For_This_Job.png?t=1444621009836" alt=""/>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>