<template name="hiringTeamTab">
    this is hiring team
    {{#each criteriaSet}}
        {{>tempCategory this}}
    {{/each}}
</template>

<template name="tempCategory">
    <div class="col-sm-3 col-md-3">
        <div class="ibox">
            <div class="ibox-content">
                <h3>{{name}}</h3>

                <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->

                <div class="input-group">
                    <input type="text" placeholder="Add new task. " class="input input-sm form-control">
                    <span class="input-group-btn">
                        <button type="button" class="add-criteria   btn btn-sm btn-white"><i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>

                <ul class="sortable-list connectList agile-list ui-sortable">
                    {{#each value}}
                        <li class="primary-element">
                            <span>{{this}}</span>

                            <span class="pull-right remove-criteria" title="">
                                <i class="fa fa-minus"></i>
                            </span>

                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>