<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

<!-- Close canvas menu used only on OffCanvas page -->
<!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu">
                <i class="fa fa-times"></i>
            </a>
<!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                        </span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{username}}</strong>
                                </span>
                                <span class="text-muted text-xs block">Art Director
                                    <b class="caret"></b>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                            <li>
                                <a href="#">Mailbox</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{pathFor 'logout'}}">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard|jobTracking'}}">
                    <a href="{{ pathFor 'dashboard' }}">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>

                <li class="{{isActiveRoute regex='activities'}}">
                    <a href="{{ pathFor 'activities' }}">
                        <i class="fa fa-heartbeat"></i>
                        <span class="nav-label">Activities</span>
                    </a>
                </li>

                <li class="{{isActiveRoute regex='settings'}}">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span class="nav-label">Settings</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='companyInfo|mailTemplates|createMailTemplate|updateMailTemplate' className='in'}}">
                        <li class="{{isActiveRoute regex='companyInfo'}}">
                            <a href="{{pathFor 'companyInfo' }}">Company info</a>
                        </li>
                        <li class="{{isActiveRoute regex='mailTemplates|createMailTemplate|updateMailTemplate'}}">
                            <a href="{{pathFor 'mailTemplates' }}">Mail templates</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>
</template>
