<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu">
                <i class="fa fa-times"></i>
            </a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        {{#if company_logo}}
                            <span>
                                <img id="company-logo" alt="image" class="img-circle" src="{{company_logo}}"/>
                            </span>
                        {{/if}}
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold nav-username">
                                    {{#if displayName}}
                                        {{displayName}}
                                    {{else}}
                                        {{loggedUsername}}
                                    {{/if}}
                                </strong>
                            </span>
                        </span>
                    </div>
                    <div class="logo-element">+</div>
                </li>

                {{#each leftNavItems}}
                    {{> menuItem}}
                {{/each}}

            </ul>

        </div>
    </nav>
</template>

<template name="menuItem">
    <li class="menu-item {{class}}">
        <a href="{{ menuUrl }}">
            <i class="fa {{icon}}"></i>
            <span class="nav-label">{{label}}</span>
            {{#with childrens}}
                <span class="fa arrow"></span>
            {{/with}}
        </a>
        {{#if childrens}}
            <ul class="nav nav-second-level collapse">
                {{#each childrens}}
                    {{> menuItem }}
                {{/each}}
            </ul>
        {{/if}}
    </li>

</template>