<template name="rightSidebar">
    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-2">

                <li class="active"><a data-toggle="tab" href="#tab-1">
                    Candidates
                </a></li>
                <li><a data-toggle="tab" href="#tab-2">
                    Open positions
                </a></li>
            </ul>

            <div class="tab-content">

                <div id="tab-1" class="tab-pane active">
                    {{> LastApplications}}
                </div>

                <div id="tab-2" class="tab-pane">
                    {{> LastOpenJobs}}
                </div>

            </div>
        </div>

    </div>
</template>
