<template name="rightSidebar">
    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-2">

                <li class="active"><a data-toggle="tab" href="#tab-1">
                    Candidates
                </a></li>
                <li><a data-toggle="tab" href="#tab-2">
                    Open positions
                </a></li>
            </ul>

            <div class="tab-content">

                <div id="tab-1" class="tab-pane active">
                    {{> LastCandidates}}
                </div>

                <div id="tab-2" class="tab-pane">
                    {{> LastOpenJobs}}
                </div>

            </div>
        </div>

    </div>
</template>

<template name="LastCandidates">
    <div>
        {{#each items}}
            {{> LastCandidateItem}}
        {{/each}}
    </div>
</template>


<template name="LastCandidateItem">
    <div class="sidebar-message">
        <div class="pull-left text-center latest-candidate">
            <img alt="image" class="img-circle message-avatar" src="/img/a4.jpg">
        </div>
        <div class="media-body">
            <a href="{{ applicationDetailsUrl }}">
                <strong>{{ fullname }}</strong>
            </a>
            <br>
            <span><i class="fa fa-mobile"></i>&nbsp;{{ tel }}</span>
            <br>

            <a href="{{ applicationDetailsUrl }}">
                <span><i class="fa fa-thumb-tack"></i>&nbsp;{{ stageLabel }}</span>
            </a>
            <br>

            <a href="{{ profileUrl }}" target="_blank"><img src="http://images.vietnamworks.com/img/thumbnail.png"
                                                            alt="" height="16px"/>&nbsp;Candidate profile</a>
            <br/>
            <span class="label pull-right {{matchingScoreLabel}}" data-toggle="tooltip" data-placement="bottom"
                  title="MatchingScore {{matchingScore}}%">{{matchingScore}} %</span>
            <br/>
            <small class="text-muted">{{ appliedTimeago }}</small>

        </div>
    </div>
</template>

<template name="LastOpenJobs">
    <ul class="sidebar-list">
        {{#each items}}
            {{> LastOpenJobItem}}
        {{/each}}
    </ul>
</template>

<template name="LastOpenJobItem">
    <li>
        <a href="{{ jobDetailsUrl }}">
            <h4>{{ jobTitle }}</h4>
            <span>{{salaryRange}}</span>

            <div class="clearfix">
                <div class="small text-muted m-t-xs pull-right"><i class="fa fa-map-marker"></i> {{ location }}  </div>
                <div class="small text-muted m-t-xs">expired {{ expiredAt }}</div>
            </div>
        </a>
    </li>
</template>